.terrace-card {
  width: 350px;
  height: 350px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.terrace-image-span {
  display: flex;
  height: 300px;
  width: 300px;
}

.terrace-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
