@import "src/assets/variables";

.search-page-inner-container {
  width: 96vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.result-container {
  display: flex;
  flex-direction: column;
}
.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 4px;
  background-color: $card-background-color;
  box-shadow: $shadow-color 1.95px 1.95px 2.6px;
}

.search-field {
  margin-right: 30px;
}
.result-container ul{
  width: 94vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.diet-pop-up {
  border-radius: 6px;
  background-color: $shadow-color;
  position: absolute;
  top:140px;
  display: flex;
  justify-content: center;
}

.search-page-inner-container form {
  margin-left: 30px;
}

