@import "src/assets/variables";

.profile-container {
  position: relative;
  display: flex;
  padding: 20px;
  border-radius: 6px;
  width: 800px;
  height: 400px;
  background-color: $card-background-color;
}

.profile-text {
  width: 50%;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
}

.profile-picture {
  width: 50%;
  border-width: 2px;
}


.profile-change-popup {
  background-color: $shadow-color;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 400px;
  border-width: 2px;
  box-shadow: $shadow-color 40px 40px 140px, $shadow-color -40px -40px 140px, $shadow-color 40px -40px 140px, $shadow-color -40px 40px 140px;;

}

.top-bar {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

.profile-change-popup form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}