@import "src/assets/variables";

.search-card {
  border-radius: 5px;
  background-color: $card-background-color;
  width: 320px;
  height: 360px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: $shadow-color 1.95px 1.95px 2.6px;
}

.search-image-span {
  display: flex;
}

.search-image-span img {
  width: 100%;
  border-radius: 6px;
}

.search-card h2 {
  font-size: 14px;
  margin: 6px;
  max-width: 240px;
}
