//TODO -remove border colors for design
// -import classnames library?

.outer-display-case {
width: 420px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.info-toggle-b{
  position: absolute;
  right: 100%;
  border-style: solid;
  height: 50px;
  width: 50px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-color: rgba(148, 109, 46, 0.98);
  background-color: rgba(170, 123, 53);
  border-right-style: none;
}

.i-button-top {

}

.i-button-bottom {
 top: 30%;
}

.icon {
  width: 80%;
  height: 80%;
}

.recipe-info-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  max-height: 800px;
}

.recipe-img {
  border: 7px solid rgba(49, 16, 16, 0.93);
  outline: 4px solid #280b0b;
  border-radius: 50%;
  width: 300px;
  box-shadow: -25px 25px 5px rgba(33, 42, 45, 0.75);
  z-index: 1;
}

.recipe-info-container {
  position: relative;
  color: white;
  border-style: outset;
  border-width: 4px;
  border-color: rgba(148, 109, 46, 0.98);
  background-color: rgba(170, 123, 53);
  border-radius: 10px;
  width: 300px;
  height: 350px;
  padding: 40px;
  display: flex;
  flex-direction:  column;
}

.recipe-name{
  font-size: 17px;
  margin-bottom: 10px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: white;
  border-width: 2px;
}
.specifics-container{
  height: 180px;
  justify-self: flex-end;
  overflow: auto;
  scrollbar-gutter: stable ;
}




.index-button {
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: -10px 10px 5px #161a1d;
}


.index-button:hover {
  background-color: white;
  background-color: rgba(170, 123, 53);
}

.index-button:active {
  box-shadow: -7px 7px 5px black;
}

