$background-color: hsla(197, 36%, 20%, 1);
$background-color-gradient: hsla(197, 46%, 10%, 1);
$card-background-color: hsla(183, 53%, 30%, 0.6);
$shadow-color: hsla(197, 52%, 8%, 1);
$text-color-dark: hsla(0, 0%, 8%, 1) ;
$text-color-light: hsla(0, 0%, 89%, 1);
