@import "src/assets/variables";

.sign-up-container {
  border-radius: 8px;
  background-color: $card-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  box-shadow: $shadow-color 1.95px 1.95px 2.6px;
}

.sign-up-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 260px;
}

.sign-up-container p {
  height: 30px;
  font-weight: lighter;
  font-size: 12px;
}

