@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=Montserrat:wght@300;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Hind', sans-serif;
    background-color: #264653;
    color: white;
}

li{
    font-size: 14px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inner-container {
    border-style: dashed;
    border-color: #66bb6a;

}